.timeline-wrapper {
    position: relative;
}

.timeline-line-animation {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
    z-index: 1;
}

.timeline img {
    border: 0;
    max-width: 100%;
}

ul.timeline {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    left: 50%;
}

.timeline-panel {

    border: 1px solid #F6F6F8;
    border-radius: 5px;

    padding: 15px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.timeline-item {
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
}


.timeline-item:not(:first-child) {
    margin-top: 40px;
}

.timeline-side p:not(:last-child) {
    margin-bottom: 10px;
}

.tl-desc-short strong {
    font-weight: bold;
}

.tl-mark {
    position: absolute;
    top: 0;
    left: calc(50% - 11px);

    align-self: self-start;
    transition: background 0.2s;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-sizing: border-box;
    backface-visibility: hidden;
    z-index: 1;
    background-color: #F6F6F8;
}



.tl-mark:has(img) {
    background: none !important;
    background-size: cover;
    max-width: 30px;
}

.tl-mark img {
    max-width: initial !important;
    position: absolute;
    left: -50%;
}

.is-stuck .tl-mark {
    transition: background 0.2s;
}

.tl-trigger {
    position: absolute;
    top: 50vh;
    height: 1px;
    width: 100%;
    pointer-events: none;
}

.timeline-side {
    width: 100%;
    line-height: 1.3em;
    text-align: center;
}

.timeline-side p {
    margin-top: 0;
    margin-bottom: 0;
}

.tl-body p,
.tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}


.timeline .timeline_pic {
    position: relative;
    padding: 0;
    width: 100%;
}

.tl-title {
    margin: 0;
}

.tl-content p {
    margin-bottom: 5px
}

@media (min-width: 701px) {

    .timeline-item {
        grid-template-columns: 1fr 1fr;
    }

    .timeline-animation-marker .timeline-item {
        grid-template-columns: 1fr 26px 1fr;
        grid-gap: 20px;
    }

    .timeline-inverted {
        direction: rtl;

        & > * {
            direction: ltr;
        }
    }

    .tl-desc-short ul,
    .timeline-side ul {
        padding-left: 22px;
    }


    .timeline-animation-other-side-sticky .timeline-side {
        position: sticky;
        top: 0;
        align-self: start;
        z-index: 2;
    }

    .timeline-animation-marker .tl-mark {
        position: sticky;
        /*left: calc(50% - 13px);*/
    }

    .timeline-left .timeline-side {
        padding-right: 30px;
    }

    .timeline-animation-marker .timeline-panel {
        margin: 0;
    }
}

@media (max-width: 700px) {

    .timeline-item {
        padding-left: 50px;
        padding-right: 10px;
    }


    .tl-title,
    .timeline-side p {
        text-align: left;
    }

    .tl-mark {
        transform: none;
        left: 9px;
    }

    .timeline-line-animation {
        left: 20px;
    }

    .timeline:before {
        left: 20px;
        margin-left: 0;
    }

    .timeline-panel {
        order: -1;
        margin-bottom: 20px;
    }


    .timeline-item > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline-item > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}