.timeline-wrapper {
    position: relative;
}

.timeline-line-animation {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
    z-index: 1;
}

.timeline img {
    border: 0;
    max-width: 100%;
}

.timeline {
    list-style: none;
    position: relative;
    padding-left: 0!important;
}

.timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    left: 50%;
}

.timeline-panel {
    width: 50%;

    border: 1px solid #F6F6F8;
    border-radius: 5px;

    padding: 15px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.timeline-item{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 26px;
    justify-content: center;
}

.timeline-item:not(:first-child) {
    margin-top: 40px;
}



li.timeline-left {
    flex-direction: row-reverse;
}


.timeline-side strong{
    font-weight: 600;
}

.timeline-side p:not(:last-child) {
    margin-bottom: 10px;
}




.tl-desc-short strong{
    font-weight: bold;
}

.tl-mark {
    position: absolute;
    top: 0;
    left: calc(50% - 11px);

    align-self: self-start;
    transition: background 0.2s;
    min-width: 26px;
    height: 26px;
    border-radius: 50%;
    box-sizing: border-box;
    backface-visibility: hidden;
    z-index: 1;
}

.tl-mark:has(img){
    background: none!important;
    background-size: cover;
    max-width: 30px;
}

.tl-mark img{
    object-fit: contain;
}

.is-stuck .tl-mark {
    transition: background 0.2s;
}

.tl-trigger {
    position: absolute;
    top: 50vh;
    height: 1px;
    width: 100%;
    pointer-events: none;
}

.timeline-side {
    width: 50%;
    line-height: 1.3em;
    text-align: center;
}

.timeline-side p {
    margin-top: 0;
    margin-bottom: 0;
}

.tl-body p,
.tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}


.timeline .timeline_pic {
    position: relative;
    padding: 0;
    width: 100%;
}

.tl-title{
    margin: 0;
}

.tl-content p {
    margin-bottom: 5px
}

@media (min-width: 701px) {
    .timeline-animation-other-side-sticky .timeline-side {
        position: sticky;
        top: 0;
    }

    .timeline-inverted .timeline-panel {
        margin-left: 60px;
    }

    .timeline-left .timeline-panel{
        margin-right: 60px;
    }

    .timeline-animation-marker .tl-mark {
        position: sticky;
        transform: translateX(-50%);
    }

    .timeline-animation-marker .timeline-inverted .tl-mark {
        left: calc(50% + 2px);
    }

    .timeline-animation-marker .timeline-panel {
        margin: 0;
    }

    .timeline-animation-marker .timeline-side{
        width: calc(50% - 30px);
    }

}

@media (max-width: 700px) {
    .timeline-item {
        flex-wrap: wrap;
        gap: 20px;
    }
    .tl-title,
    .timeline-side p{
        text-align: left;
    }

    .tl-mark{
        transform: none;
        left: 8px;
    }


    .timeline-line-animation{
        left: 20px;
    }

    .timeline:before{
        left: 20px;
        margin-left: 0;
    }

    .timeline-panel,
    .timeline-side {
        width: calc(100% - 60px);
        margin-left: 35px;
    }


    .timeline-item > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline-item > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}