.t-text-align-left {
  text-align: left;
}

.t-text-align-center {
  text-align: center;
}

.t-text-align-right {
  text-align: right;
}

.timeline_pic .components-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline_pic.image-loading {
  opacity: 0.3;
}

.wp-block-za-timeline-full-widget .timeline::before {
  background-color: var(--timeline-line-color, #f6f6f8);
}

.wp-block-za-timeline-full-widget .tl-mark {
  background-color: var(--timeline-marker-color, #f6f6f8);
}

.wp-block-za-timeline-full-widget .timeline-line-animation {
  background-color: var(--timeline-line-active-color, #f37321);
}

.wp-block-za-timeline-full-widget .timeline.timeline-animation-marker li.is-stuck .tl-mark {
  background-color: var(--timeline-marker-active-color, #f37321);
}

@media (min-width: 701px) {
  .timeline-item {
    grid-template-columns: calc(50% - 37px) calc(50% - 37px);
    gap: 64px;
  }

  .timeline-animation-marker .timeline-item {
    gap: 26px;
  }

  .wp-theme-kadence .timeline-line-animation,
  .wp-theme-kadence .timeline:before {
    left: calc(50% + 15px);
  }
}
