.t-text-align-left {
  text-align: left;
}

.t-text-align-center {
  text-align: center;
}

.t-text-align-right {
  text-align: right;
}

.timeline_pic .components-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline_pic.image-loading {
  opacity: 0.3;
}

.timeline::before {
  background-color: var(--timeline-color, #f6f6f8);
}

.tl-mark {
  background-color: var(--timeline-color, #f6f6f8);
}

.timeline-line-animation {
  background-color: var(--timeline-color-animation, #f37321);
}

li.is-stuck .tl-mark {
  background-color: var(--timeline-color-animation, #f37321);
}


@media (min-width: 701px) {

  .timeline-item {
    grid-template-columns: calc(50% - 37px) calc(50% - 37px);
    gap:64px;
  }

  .timeline-animation-marker .timeline-item {
    gap: 26px;
  }
}
