.t-text-align-left {
  text-align: left;
}

.t-text-align-center {
  text-align: center;
}

.t-text-align-right {
  text-align: right;
}

.timeline_pic .components-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline_pic.image-loading {
  opacity: 0.3;
}

.timeline::before {
  background-color: var(--timeline-color, #f6f6f8);
}

.tl-mark {
  background-color: var(--timeline-color, #f6f6f8);
}

.timeline-line-animation {
  background-color: var(--timeline-color-animation, #f37321);
}

li.is-stuck .tl-mark {
  background-color: var(--timeline-color-animation, #f37321);
}


@media (min-width: 701px) {
  //.wp-block-za-timeline-item.timeline-item .tl-mark {
  //  left: calc(50% - 11px);
  //}

  .block-editor-block-list__block .timeline-panel,
  .wp-block-za-timeline-item .timeline-panel {
    width: 50%;
  }


  // TODO This corrected wor different themes
  .timeline-animation-marker {
    .block-editor-block-list__block .timeline-panel,
    .wp-block-za-timeline-item .timeline-panel {
      width: calc(50% - 30px) ;
    }
  }

  /// Astra Theme
  .ast-desktop .timeline-animation-marker .tl-mark{
    left: calc(50% + 2px);
  }

  // Kadence Theme
  .wp-theme-kadence .timeline-animation-marker .tl-mark{
    left: calc(50% + 2px);
  }
  // Hello Biz Theme
  .wp-theme-hello-biz .timeline-animation-marker .tl-mark{
    left: calc(50% + 2px);
  }
  // Hello Elementor Theme
  .wp-theme-hello-elementor .timeline-animation-marker .tl-mark{
    left: calc(50% + 2px);
  }


}
